@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor-gen {
  display: flex;
  align-items: center;
  flex-direction: row-reverse; }

#nav-contacto {
  background-color: #256D85; }

#main-contacto {
  background-color: #7FBCD2; }
  #main-contacto section .contacto-h4 {
    text-align: center;
    padding-top: 3%; }

/**----------------- SOBRE NOSOTROS --------------*/
#nav-acercade {
  background-color: #9cbd8c; }

.main-acercade {
  background-color: #D2D79F; }
  .main-acercade article section h2 {
    padding-top: 3%;
    margin: 0 5% 2%;
    font-family: monospace; }
  .main-acercade article section p {
    font-size: 17px;
    margin: 0 12% 0 3%; }
  .main-acercade article .section2 {
    text-align: end; }
    .main-acercade article .section2 p {
      margin: 0 3% 0 12%; }
  .main-acercade article .section3 {
    text-align: center; }
    .main-acercade article .section3 p {
      margin: 0 12%; }
  .main-acercade article div {
    display: flex;
    justify-content: center; }
    .main-acercade article div h3 {
      border: solid 2px;
      padding: 10px;
      margin-top: 5%;
      background: #DFE8CC; }

/**----------------- INGRESOS --------------*/
#nav-ingresos {
  background-color: #F6FBF4; }

.ing-titulo {
  font-size: large;
  text-align: center;
  margin-bottom: 2%;
  padding: 2%; }
  .ing-titulo h2 {
    color: #000000;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 2%;
    padding-bottom: 1%;
    text-shadow: #252525 2px 2px 3px; }
  .ing-titulo p {
    text-shadow: whitesmoke 2px 2px 3px; }

#card-1, #card-2 {
  margin-left: 10px; }

@media (max-width: 1010px) {
  #card-1, #card-2 {
    margin-left: 0; } }

@media (max-width: 610px) {
  .ing-titulo h2 {
    font-size: 2em; } }

/*----------------- PRODUCTOS --------------*/
#gallery .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }
  #gallery .col-lg-4 img {
    width: 100%;
    height: 250px;
    transition: all 2s ease-in-out; }
  #gallery .col-lg-4:hover {
    transform: scale(1.1, 1.1); }

#main-productos {
  background: linear-gradient(rgba(240, 236, 236, 0.75), rgba(240, 236, 236, 0.75)), url(../img/fondo-blanco.jpg) no-repeat center center;
  background-size: cover; }

.h1-produ {
  color: black;
  text-shadow: 0px 0px 3px #0e0e0e; }

.pagina2 {
  display: flex;
  justify-content: center; }
  .pagina2 h3 {
    padding: 10px;
    text-align: center;
    border: solid slategrey 2px;
    border-radius: 4px; }
    .pagina2 h3 a {
      color: gray;
      text-decoration: none; }

#nav-productos {
  background-color: #ebe9e2; }

#nav-index {
  background-color: #EDEDED; }

#principal {
  background: linear-gradient(rgba(4, 7, 12, 0.75), rgba(4, 7, 12, 0.75)), url(../img/fondo-blanco.jpg) no-repeat center center;
  background-size: cover; }

.contenedor-texto {
  padding: 2% 0 1%;
  align-items: center;
  color: whitesmoke;
  margin-right: 20%; }

.syss {
  color: greenyellow; }

.cont-img img {
  width: 60%;
  border-radius: 0 20px 20px 0px;
  transition: 2s; }

@media (max-width: 1050px) {
  .contenedor-texto {
    text-align: center;
    margin: 3%; }
  .cont-img img {
    display: none; } }

aside {
  background: linear-gradient(rgba(211, 213, 216, 0.75), rgba(211, 213, 216, 0.75)), url(../img/pexels-vinícius-pimenta-311626.jpg) fixed;
  background-size: cover; }
  aside .aside {
    text-align: center;
    padding: 2%; }
    aside .aside h3 {
      text-shadow: 0px 0px 10px #939696;
      margin-bottom: 20px; }
    aside .aside a {
      font-weight: 500;
      border: solid #18062a;
      border-radius: 10px;
      font-size: 20px;
      padding: 3px;
      text-decoration: none;
      color: black;
      background-color: rgba(220, 206, 206, 0.702); }
