
@import  url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
/**----------------- PRODUCTOS --------------*/
#gallery .col-lg-4 {
    margin: 0 !important;
    padding: 25px;

}

#gallery img {
    width: 100%;
    height: 250px;

}

#gallery img:hover {
    border: 5px solid #f7f7f7;
}

/**----------------- INGRESOS --------------*/

.cont-ingresos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto
}

.cont-ingresos .card-ingresos {
    width: 350px;
    height: 430px;
    border-radius: 8px;

    overflow: hidden;
    margin: 20px 80px 20px 80px;
    text-align: center;
}

.cont-ingresos .card-ingresos img {
    width: 100%;
    max-width: 350px;
    height: 350px;
}


.ing-titulo {
    font-size: large;
    text-align: center;
    margin-bottom: 2%;
    padding: 2%;
}
.ing-titulo h2 {
    color: black; 
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 2%;
    padding-bottom: 1%;
    text-shadow: red 2px 2px 3px;
}

.ing-titulo p {
    text-shadow: whitesmoke 2px 2px 3px;
}

/**----------------- SOBRE NOSOTROS --------------*/

.acd_1{
    padding-top: 1%;
padding-left: 1%;
padding-bottom: 1%;
}

.acd_2{
    padding-left: 1%;
    padding-bottom: 1%;
}

.acd_map{
    padding-left: 1%;
    padding-bottom: 1%;
}

.acd_map h3 {
    padding-bottom: 1%
} 

/**----------------- CONTACTO --------------*/


/*!----------------- MAIN ------------------*/


/*!----------------- HEADER ------------------*/




/*!----------------- 30%OFF ------------------*/

    .promo{
background-image: url(../img/Basket2.jpg);
background-attachment: fixed;
        width: 100%;
    height: 200px;
    }


    .promoh1 {
color: azure;
text-align: center;    
font-size: 3em;
font-family: Georgia, 'Times New Roman', Times, serif;
padding-top: 2%;
padding-bottom: 1%;
text-shadow: #555 2px 2px 3px
    }    
    .promop{
        color: azure;
        text-align: center;  
        font-family: Georgia, 'Times New Roman', Times, serif;  
            }

/*!----------------- TEXTO ------------------*/

    .bienvenidos  {

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        padding-top: 1%;
        padding-left: 1%;
        padding-right: 1%;
        }

.bienvenidosh1 {
padding-bottom: 1%;
font-weight: 600;
}

.bienvenidosp {
padding-bottom: 4%;
}

/* !----------------- ZAPATILLAS ------------------ */
.zapatillas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto
}

.zapatillas .card{
width: 350px;
height: 430px;
border-radius: 8px;
text-shadow: 0 2px 2px rgb(197, 196, 196);
overflow: hidden;
margin: 20px 80px 20px 80px;
text-align: center;
transition: all 0.25s;
}
.zapatillas .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px gray;
}

.card  img {
    width: 100%;
    max-width: 350px;
    height: 350px;
}
.card_con  img {
    width: 100%;
    max-width: 550px;
    height: 350px;
}
.zapatillas .card_con {
    width: 550px;
height: 430px;
border-radius: 8px;
text-shadow: 0 2px 2px rgb(197, 196, 196);
overflow: hidden;
margin: 20px 80px 20px 80px;

text-align: center;
transition: all 0.25s;
}
.zapatillas .card_con:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px gray;
}





/*!----------------- FOOTER ------------------*/
