@import "./base/generales";
@import"./components/contacto";
@import "./components/acercade";
@import "./components/ingresos";
@import "./components/productos";
@import"./base/variables";
@import"./base/maps";
@import"./base/mixins";


//* !-----------------  NAV  -------------------*/
#nav-index{
    background-color: #EDEDED;
}
//* !----------------- SECTION 1 ------------------ */
#principal {
    background: linear-gradient(rgba(4, 7, 12, 0.75) , rgba(4, 7, 12, 0.75)), url(../img/fondo-blanco.jpg) no-repeat center center;
    background-size: cover;
    }
    
    .contenedor-gen{
        @extend %flex-1;

    }
    .contenedor-texto{
    
        padding: map-get($texto, padding-text );
        @include texto (center, whitesmoke, 20%)

    }
    .syss{
        color:$color-verde ;
        }
        .cont-img  {
            img {width: 60%;
                border-radius: 0 20px 20px 0px;
                transition: 2s;}
        }

        @media (max-width:1050px ){

            .contenedor-texto{
                text-align: center;

                margin:3% ;
            }
            .cont-img{
                img{
                    display: none;
                };
            }
        }
        aside{ 
            background:linear-gradient(rgba(211, 213, 216, 0.75) , rgba(211, 213, 216, 0.75)), url(../img/pexels-vinícius-pimenta-311626.jpg) fixed;
            background-size: cover;       

                .aside{
                    text-align: center;
                    padding: 2% ; 

                        h3{
                            text-shadow: 0px 0px 10px rgba(147, 150, 150, 1);
                            margin-bottom: 20px;
                        }

                        a  {
                            font-weight: 500;
                        border: solid rgb(24, 6, 42);
                        border-radius: 10px;
                        font-size: 20px;
                        padding: 3px;
                        text-decoration: none;
                        color: black;
                        background-color:rgba(220, 206, 206, 0.702);
                        }
                        }
                    }
                
