
/**----------------- SOBRE NOSOTROS --------------*/
.acd_1{
    padding-top: 1%;
padding-left: 1%;
padding-bottom: 1%;
}

.acd_2{
    padding-left: 1%;
    padding-bottom: 1%;
}

.acd_map{
    padding-left: 1%;
    padding-bottom: 1%;
}

.acd_map h3 {
    padding-bottom: 1%
} 