#nav-contacto {
    background-color:#256D85;
}

#main-contacto{
    background-color: #7FBCD2;
    section {
        .contacto-h4{
            text-align: center;
            padding-top: 3%;
        }
    }
}