/**----------------- INGRESOS --------------*/
#nav-ingresos{
    background-color: #F6FBF4;
}

.ing-titulo {
    font-size: large;
    text-align: center;
    margin-bottom: 2%;
    padding: 2%;
        h2 {
            color: #000000; 
            font-size: 3em;
            font-family: Georgia, 'Times New Roman', Times, serif;
            padding-top: 2%;
            padding-bottom: 1%;
            text-shadow: rgb(37, 37, 37) 2px 2px 3px; }
            p {
                text-shadow: whitesmoke 2px 2px 3px;
            }
    }

    #card-1, #card-2{
        margin-left: 10px;
    }

    @media (max-width:1010px ){
        #card-1, #card-2{
            margin-left: 0;
        }
    }

    @media (max-width:610px ){
        .ing-titulo{
            h2{
                font-size: 2em;
            }
        }
    }
