/**----------------- INGRESOS --------------*/
.ing-titulo {
    font-size: large;
    text-align: center;
    margin-bottom: 2%;
    padding: 2%;
        h2 {
            color: black; 
            font-size: 3em;
            font-family: Georgia, 'Times New Roman', Times, serif;
            padding-top: 2%;
            padding-bottom: 1%;
            text-shadow: red 2px 2px 3px; }
            p {
                text-shadow: whitesmoke 2px 2px 3px;
            }
    }